$grey: #EEEEEE;



body {
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.header {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  .nav {
    float: left;
    padding-left: 20px;
    font-size: 1.2em;
  }
  .headerImage {
    height: 194px;
  }
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  background-color: $grey;
  .answertxt {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.answertxt {
  font-size: 40px;
}

p {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.list{
  list-style-type: none;
}

footer {
  background-color: #4B494F;
  color: #939394;
  padding: 40px 0;
}